# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Firebase-Authenticator.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\hatin\UnityProjects\Firebase-Authenticator\.idea\.idea.Firebase-Authenticator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
