# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Pibrary-Authenticator.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\hatin\UnityProjects\Pibrary-Authenticator\.idea\.idea.Pibrary-Authenticator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
